<div class="hire-me__intro">
  <div class="container narrow">
    <h1>Hire me for your project</h1>
    <p>I have a decade of experience planning, building, crafting and<br>tweaking code to into fine web products. <b>What can I do for you?</b></p>
  </div>
</div>

<div class="container">
  <div class="hire-me__group">
    <div class="hire-me__group-header">
      <h3>Who are you?</h3>
    </div>
    <div class="hire-me__group-content">
      <p>You've got an idea for an app and are ready to break ground to
      bring it to life.</p>
      <p>You've got an existing app that needs new features, bug fixes and/or
      maintenance, and are looking for an experienced developer to help.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="hire-me__group">
    <div class="hire-me__group-header">
      <h3>Who am I?</h3>
    </div>
    <div class="hire-me__group-content">
      <p>I am a full-stack web developer in Southern California. I've worked
      remotely for the last 7 years with clients from all country and even some parts of the world.</p>

      <p>I love working with backend technologies like Ruby on Rails, Laravel,
      and front-end libraries like Vue.js and Backbone.</p>

      <p>I'm scrappy, fast paced, and most importantly, if I agree to a scope
      of work, you can trust that it will get done. I fully understand the
      investment I am for your business and I take that seriously. From getting
      broken code back up and running, to bringing a new MVP into the world, I'm
      your development partner until the project is complete.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="hire-me__group">
    <div class="hire-me__group-header">
      <h3>How's this going to work?</h3>
    </div>
    <div class="hire-me__group-content">
      <p>If you've got an existing system in place with your team, sweet! I'll
      adopt your work flow and fit right in.</p>

      <p>Otherwise, I find it best to work in weekly iterations. If this is a
      new project, here's a rough idea of how it'll go down. At the beginning
      of each week, we'll meet and agree on a set of deliverables for the week.
      Then I'll go heads down all week, communicating progress through
      Basecamp. At the end of the week we'll meet to review, celebrate what's
      shipped, and plan for the next week. Then we do it all over again until we're
      finished.</p>
    </div>
  </div>
</div>

<div class="container ">
  <div class="hire-me__group">
    <div class="hire-me__group-header">
      <h3>What's my schedule?</h3>
    </div>
    <div class="hire-me__group-content">
      <p>I work Monday - Friday, 8am - 4pm, PST. I will be available for any
      correspondance during these hours. Prefereably through Basecamp or
      Slack.</p>
      <p>I don't schedule any work during evenings or weekends.</p>
    </div>
  </div>
</div>

<div class="container ">
  <div class="hire-me__group">
    <div class="hire-me__group-header">
      <h3>What's my cost & availability?</h3>
    </div>
    <div class="hire-me__group-content">
      <p>I bill weekly at $3,200 per week and I have availability for a new
      project starting <b>October 16</b>. I prefer to schedule projects without any
      overlap.</p>

      <p>If your project is a build from the ground up, you can buy a
      Roadmapping session with me for $1000. We'll spend a day realizing the
      scope of the project and get it all planned out. No user-story left untold.
      Then I'll put a proposal together based on the roadmap. <em>(This also
        makes it much easier for you to get a second opinion.)</em></p>
    </div>
  </div>
</div>

<div class="container ">
  <div class="hire-me__group">
    <div class="hire-me__group-header">
      <h3>What's a normal engagement length?</h3>
    </div>
    <div class="hire-me__group-content">
      <p>For an existing app, this entirely depends on the scope of the work
      requested. It can last anywhire from 1-4 weeks or more. For brand new
      builds, these average 1-2 months.</p>

      <p>There are no long term commitments. If at any time either of us is
      unsatisfied with how things are going, we can simply part ways.</p>
    </div>
  </div>
</div>

<div class="container ">
  <div class="hire-me__group">
    <div class="hire-me__group-header">
      <h3>Recent Work</h3>
    </div>
    <div class="hire-me__group-content">
      <div class="hire-me__example">
        <%= image_tag "dfc.jpg", alt: "Daily Fantasy Cafe" %>
        <p><b>Daily Fantasy Cafe</b> is a subscription-based website that provides content
        and tools for DFS players to enhance their game and help them win more. DFC
        is the main website, but there are mutliple apps that interface with tons
        of API's to provide data for the front-end tools. Built with Laravel,
        Backbone & Vue</p>
        <%= link_to "Launch Project", "https://www.dailyfantasycafe.com" %>
      </div>

      <div class="hire-me__example">
        <%= image_tag "mep.jpg", alt: "My Evening Post" %>
        <p><b>My Evening Post</b> is a web service that helps you to build a private
        online journal by sending you an email every night that you simply respond
        to. Built with Ruby on Rails.</p>
        <%= link_to "Launch Project", "https://myeveningpost.com" %>
      </div>

      <div class="hire-me__example">
        <%= image_tag "partners.jpg", alt: "Partners Relief & Development" %>
        <p><b>Partners'</b> old website was built on Drupal 7 and they had severely
        outgrown the platform. They were not only in need of an update, but a full
        migration to a whole new platform that provided more flexibility with their
        changing needs. I migrated their site from Drupal to Statamic & Vue.</p>
        <%= link_to "Launch Project", "https://www.partners.ngo" %>
      </div>
    </div>
  </div>
</div>

<div class="container hide">
  <div class="hire-me__group">
    <div class="hire-me__group-header">
      <h3>What do people say?</h3>
    </div>
    <div class="hire-me__group-content">
      <div class="hire-me__testimony">
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget
        lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor
        fringilla. Donec id elit non mi porta gravida at eget metus. Etiam porta
        sem malesuada magna mollis euismod. Aenean eu leo quam. </p>
        <div class="hire-me__testimony-giver">
          <%= image_tag "//placehold.it/100x100?text=Sam" %>
          <p>Sam Shefrin <span>Daily Fantasy Cafe</span></p>
        </div>
      </div>

      <div class="hire-me__testimony">
        <p>"Jamie is the total package. Beyond his exceptional development chops, he's great at translating complex ideas into plain language for non-dev folks. I don't know anyone who works harder at the finding the right answer or who uses all his creativity to solve a challange. Did I mention how hard this guy works?"</p>
        <div class="hire-me__testimony-giver">
          <%= image_tag "lance.jpg" %>
          <p>Lance Troxel <span>This by Them</span></p>
        </div>
      </div>

      <div class="hire-me__testimony">
        <p>Donec ullamcorper nulla non metus auctor
        fringilla. Donec id elit non mi porta gravida at eget metus. Etiam porta
        sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare
        sem lacinia quam venenatis vestibulum. </p>
        <div class="hire-me__testimony-giver">
          <%= image_tag "//placehold.it/100x100?text=Lance" %>
          <p>Dave Ellum <span>Partners Relief & Development</span></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="hire-me__cta">
    <h2>Ready to get started?</h2>
  <p>Perfect. Me too. Email <%= link_to "hello@jamiewagner.me", "mailto:hello@jamiewagner.me?Subject=Lets work together&body=Tell me about yourself and what I can do for you." %> and let's get going.</p>
  </div>
</div>
